*.pyc
taxonomy/db/settings.py
.DS_Store
*.sublime-*
__pycache__/
.mypy_cache/
.venv/
.cache/
.tox/
data_import/data/
data_import/wikicache/
mapper/base_maps/
notes/
.vscode/
.ipynb_checkpoints/
aws/
taxonomy.ini
taxonomy-public.ini
taxonomy.sh
build/
hsweb/game_data/
