repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: [--fix]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3.14

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies:
          - types-requests
          - aiohttp

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier

  # Doesn't successfully install from git for some reason
  # - repo: local
  #   hooks:
  #     - id: pycroscope
  #       name: pycroscope
  #       entry: python3.12 -m pycroscope --config-file pyproject.toml
  #       language: python
  #       files: ^taxonomy/.*\.py$
  #       language_version: python3.12
  #       additional_dependencies:
  #         - pycroscope
  #         - httpx
  #         - clirm
  #         - IPython>8
  #         - prompt_toolkit
  #         - requests
  #         - unidecode
  #         - python-levenshtein
  #         - bs4
  #         - mypy
  #         - flake8
  #         - pytest
  #         - aiohttp
  #         - aiohttp_graphql
  #         - graphene
  #         - typing_inspect
  #         - types-requests
  #         - boto3
  #         - botocore
  #         - repoguess
  #         - pyzotero
  #         - gspread
