.taxonomy-table, .names-table {
	border-collapse: collapse;
}

.taxonomy-cell {
	overflow: scroll;
	padding: 0;
	margin-right: 5px;
	margin-left: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	white-space: nowrap;
	display: table-cell;
	border: solid 1px gainsboro;
}

.taxonomy-cell:focus {
	overflow: visible;
	white-space: normal;
}

.row-taxon-outer {
	display: table;
}

.row-taxon {
	min-width: 100%;
	display: table-row;
}

.rank-class {
	font-size: 250%;
}

.rank-subclass {
	font-size: 230%;
	font-weight: bold;
}

.rank-infraclass {
	font-size: 220%;
}

.rank-supercohort {
	font-size: 200%;
	font-weight: bold;
}

.rank-cohort {
	font-size: 190%;
}

.rank-superorder {
	font-size: 170%;
	font-weight: bold;
}

.rank-order {
	font-size: 170%;
}

.rank-suborder {
	font-size: 150%;
}

.rank-infraorder {
	font-size: 140%;
	font-weight: bold;
}

.rank-parvorder {
	font-size: 130%;
	font-weight: bold;
}

.rank-superfamily {
	font-size: 125%;
}

.rank-family {
	font-size: 120%;
}

.rank-subfamily {
	font-size: 120%;
	font-style: italic;
}

.rank-tribe {
	font-size: 100%;
	font-weight: bold;
	font-style: italic;
}

.rank-subtribe {
	font-size: 100%;
	font-weight: bold;
	font-style: italic;
}

.rank-genus {
	font-size: 100%;
	font-weight: bold;
}

.rank-subgenus {
	font-size: 100%;
	font-style: italic;
}

.rank-species_group {
	font-size: 100%;
	font-style: italic;
}

.rank-species {
	font-size: 100%;
}

.rank-subspecies {
	font-size: 80%;
	font-style: italic;
}

.taxon-rank {
	min-width: 35px;
	max-width: 35px;
}
.taxon-age {
	min-width: 10px;
	max-width: 10px;
}
.taxon-valid_name {
	min-width: 200px;
	max-width: 200px;
}
.taxon-comments {
	min-width: 50px;
	max-width: 50px;
}
.taxon-names {
	min-width: 1000px;
	max-width: 1000px;
}

.name-group {
	min-width: 20px;
	max-width: 20px;
}
.name-original_name {
	min-width: 200px;
	max-width: 200px;
}
.name-base_name {
	min-width: 100px;
	max-width: 100px;
}
.name-authority {
	min-width: 250px;
	max-width: 250px;
}
.name-year {
	min-width: 50px;
	max-width: 50px;
}
.name-page_described {
	min-width: 30px;
	max-width: 30px;
}
.name-original_citation {
	min-width: 100px;
	max-width: 100px;
}
.name-nomenclature_comments {
	min-width: 100px;
	max-width: 100px;
}
.name-taxonomy_comments {
	min-width: 100px;
	max-width: 100px;
}
.name-other_comments {
	min-width: 100px;
	max-width: 100px;
}

.status-synonym {
	font-size: 65%;
	font-weight: normal;
	font-style: normal;
}



