name: Lint

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up latest Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade uv
          uv venv
          uv sync

      - name: Run pre-commit hooks
        uses: pre-commit/action@v3.0.0
