name: Test

on: [push, pull_request]

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.14

      - name: Install
        run: |
          python -m pip install --upgrade uv
          uv venv
          uv sync
      - name: Unit tests
        run: .venv/bin/python -m pytest taxonomy
